header img {
    float: left;
    width: 120px;
    height: auto;
    margin-left: 8px;
}

.header-container {
    /* justify-content: space-between; */
    background-color: #fff9f0;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}

.navbar-items {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-item {
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: #38299C;
    color: white;
    padding: 10px;
}

.slider-container {
    box-sizing: border-box;
    margin: 10px;
    border: 0.5px solid #fff9f0;
    padding-bottom: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.image-slider {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.image-slider img:first-child{
    z-index: 1;
}

.image-slider img:nth-child(2) {
    z-index: 0;
}

.slider-nav {
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: #38299C;
    border-radius: 50%;
    display: inline-block;
    border: 1px dotted #38299C;
}

.active,
.dot:hover {
    background-color: #fff9f0;
    border-color: #38299C;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* gap: 40px; */
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
}

footer > p {
    grid-column: 1 / -1;
    margin-top: 40px;
    text-align: center;
}

footer img {
    float: left;
    width: 120px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.footer-container {
    background-color: rgb(220, 220, 220);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
}

.footer-logo-tagline-social {
    display: flex;
    flex-direction: column;
}

.footer-tagline {
    margin-left: 5px;
}

.footer-social {
    margin-left: 5px;
}

.social-pic:hover {
    background-color: white;
}