@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
/*    colors */
    --white-color: #fff;
    --primary-color: #acd591;
    --secondary-color: #87afc3;
    --medium-gray-color: #ccc;

/*   font size  */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

/*   font weight  */
    --font-weight-n: 400;
    --font-weight-m: 500;
    --font-weight-sb: 600;
    --font-weight-b: 700;

/*   border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

/*   site max width */
    --site-max-width: 1300px;
}

/*main {*/
/*    padding-top: 100px;*/
/*}*/

button {
    cursor: pointer;
    border: none;
    background: none;
}

/*.section {*/
/*    padding: 100px 0;*/
/*    background-color: var(--primary-color);*/
/*}*/

/*.section-content {*/
/*    margin: 0 auto;*/
/*    padding: 0 20px;*/
/*    max-width: var(--site-max-width);*/
/*}*/

/* navbar styling */
header {
    background: var(--primary-color);
    top: 0;
    z-index: 999;
    position: sticky;
}

header, header .navbar, 
.navbar .nav-container, 
.navbar .nav-container .nav-menu .nav-link {
  font-family: Helvetica, sans-serif;
}


header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: var(--site-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar .nav-container #nav-logo {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-sb);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .nav-container .nav-menu {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    list-style: none;
}

.navbar .nav-container .nav-menu .nav-item {
    height: 80px;
}

.navbar .nav-container .nav-menu .nav-link {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar .nav-container .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar .nav-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: var(--site-max-width);
        padding: 0;
    }

    .navbar .nav-container .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar .nav-container .nav-menu.active {
        background: var(--primary-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar .nav-container #nav-logo {
        padding-left: 25px;
    }

    .navbar .nav-container .nav-toggle .bar {
        width: 25px;
        height: 5px;
        margin: 9px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white-color);
    }

    .navbar .nav-container .nav-menu .nav-item {
        width: 100%;
    }

    .navbar .nav-container .nav-menu .nav-item .nav-link {
        text-align: center;
        padding: var(--font-size-xl);
        width: 100%;
        display: table;
    }

    .navbar .nav-container #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar .nav-container .nav-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .navbar .nav-container #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar .nav-container #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar .nav-container #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

